body{
    background-color: darkgreen;
    color: darkorange;
}
h1{
    text-align: center;
}
#signUpButton,#logInButton,#writeReview,#logout,#showReviews{
    margin: 5px;
    background-color: #e74712;
    border: 3px solid #e74712;
    border-radius: 5px;
}
#signUpButton{
    margin-left: 420px;
}
#signUpButton:hover{
    background-color:darkslategray ;
    transition: 4mm;
}
#logInButton:hover{
    background-color:darkslategray ;
    transition: 4mm;
}
#writeReview:hover{
    background-color:darkslategray ;
    transition: 4mm;
}
#logout:hover{
    background-color:darkslategray ;
    transition: 4mm;
}
#showReviews:hover{
    background-color:darkslategray ;
    transition: 4mm;
}
#button0,#button1,#button2{
    margin-left: 580px;
    background-color: #97d82d;
    border: 5px solid #45488e;
    font-weight: bolder;

}
.box{
    margin: auto;
}
#icon0,#icon1,#icon2{
    margin: 5px;
}
.reviewList{
    margin-left: 620px;
}
.ThaiExpress,.LoneStar,.WorldBurger{
    height: 80px;
    width: 210px;
    background-color: white;
    border: 4px solid #45488e;
    border-radius: 10px;
    color: black;
}
.reviews{
    margin:auto;
    height: 80px;
    width: 210px;
    background-color: white;
    border: 4px solid #45488e;
    border-radius: 10px;
    color: black;
}
#signUp,#logIn,#reviewContain{
    margin-left: 580px;
}